@charset "ISO-8859-1";
body{
	background-color: #A8F2FF;
}
.hello{
	text-align :center;
	font-family: OCR A Std, monospace;
	font-weight: 800;
	font-size: xxx-large;
}
.description{
	text-align:center;
	font-family: OCR A Std, monospace;
	font-weight: 400;
	font-size: xx-large;
	max-width: 75%;
	margin:auto;
}
